@forward './mini-cart';
@forward './added-to-cart-dialog';
@forward './cart-details';
@forward './cart-item';
@forward './cart-item-list';
@forward './cart-totals';
@forward './order-summary';
@forward './add-to-cart';
@forward './cart-coupon';
@forward './applied-coupons';
@forward './item-counter';
@forward './add-to-wishlist';
@forward './save-for-later';

$cart-components-allowlist: cx-mini-cart, cx-add-to-cart, cx-item-counter,
  cx-added-to-cart-dialog, cx-cart-details, cx-cart-item, cx-cart-item-list,
  cx-cart-totals, cx-cart-coupon, cx-applied-coupons, cx-add-to-wishlist,
  cx-save-for-later !default;
