<ng-template
  [cxOutlet]="position"
  [cxOutletContext]="{ components$: components$ }"
>
<ng-container *ngIf=switchUIDebugOn>
  <div>position: {{ position}}</div>
</ng-container>
  
  <ng-template
    *ngFor="let component of components"
    [cxOutlet]="component.flexType"
    [cxOutletContext]="{ component: component }"
    [cxOutletDefer]="getComponentDeferOptions(component.flexType)"
    (loaded)="isLoaded($event)"
  >
  <ng-container *ngIf=switchUIDebugOn>
    <div>component id: {{ component.uid }}</div>
  </ng-container>
    <ng-container [cxComponentWrapper]="component"></ng-container>
  </ng-template>
</ng-template>
