// we require a few bootstrap files for the CSS in this code
@forward '~bootstrap/scss/functions';
@forward '~bootstrap/scss/variables';
@forward '~bootstrap/scss/_mixins';

@mixin visible-focus {
  outline-style: solid;
  outline-color: var(--cx-color-visual-focus);
  outline-width: var(--cx-visual-focus-width, 2px);
  outline-offset: 4px;
  transition: none;
}

@forward './administration/index';
@forward './order-approval/index';
